In [5]:
import sys, os
sys.path.append(os.path.dirname(os.getcwd()))
from db import helper as db_helper
from db.models import SpotRate
import pandas as pd

In [ ]:
# spot_data = db_helper.pull_scraped_table()

In [ ]:
# for row in spot_data:
#     print(dir(row))
#     print(row.url)
#     break


# # df = pd.DataFrame(spot_data)
# # df

In [11]:
session = db_helper.start_session()

df = pd.read_sql_table('spot_rates', session.bind)

2018-12-27 12:35:25,153 INFO sqlalchemy.engine.base.Engine select version()
2018-12-27 12:35:25,155 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,157 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-12-27 12:35:25,158 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,163 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-27 12:35:25,166 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,171 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-27 12:35:25,174 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,179 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-12-27 12:35:25,181 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,184 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2018-12-27 12:35:25,185 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2018-12-27 12:35:25,192 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2018-12-27 12:35:25,194 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2018-12-27 12:35:25,203 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2018-12-27 12:35:25,204 INFO sqlalchemy.engine.base.Engine {'table_name': 'spot_rates'}
2018-12-27 12:35:25,210 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2018-12-27 12:35:25,215 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,227 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2018-12-27 12:35:25,228 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,234 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2018-12-27 12:35:25,237 INFO sqlalchemy.engine.base.Engine {}
2018-12-27 12:35:25,247 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2018-12-27 12:35:25,248 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,252 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2018-12-27 12:35:25,254 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,257 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2018-12-27 12:35:25,258 INFO sqlalchemy.engine.base.Engine {'table': 16656}
2018-12-27 12:35:25,264 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2018-12-27 12:35:25,268 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,275 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2018-12-27 12:35:25,276 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,279 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2018-12-27 12:35:25,280 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,283 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2018-12-27 12:35:25,286 INFO sqlalchemy.engine.base.Engine {'table_oid': 16656}
2018-12-27 12:35:25,293 INFO sqlalchemy.engine.base.Engine SELECT spot_rates.id, spot_rates.url, spot_rates.day, spot_rates.month, spot_rates.year, spot_rates.base_currency, spot_rates.target_currency, spot_rates.base_value, spot_rates.target_spot_rate, spot_rates.target_52wk_high, spot_rates.target_52wk_low, spot_rates.created_at, spot_rates.updated_at
FROM spot_rates

2018-12-27 12:35:25,294 INFO sqlalchemy.engine.base.Engine {}

In [25]:
# Quick snapshot of the data
df.describe()

# lack of significant data in the 52wk columns
df.drop(columns=['id', 'url', 'target_52wk_high', 'target_52wk_low', 'created_at', 'updated_at'], inplace=True)

KeyError: "['id' 'url' 'target_52wk_high' 'target_52wk_low' 'created_at' 'updated_at'] not found in axis"

In [26]:
# create Date
import datetime
df['date'] = df.apply(lambda x: datetime.date(x['year'], x['month'], x['day']), axis=1)
df.drop(columns=['day', 'month', 'year'], inplace=True)

df

,base_currency,target_currency,base_value,target_spot_rate,date
0,GBP,Japanese Yen,1.0,130.5530,2016-08-12
1,GBP,Malaysian ringgit,1.0,5.2109,2016-08-12
2,GBP,New Zealand Dollar,1.0,1.7886,2016-08-12
3,GBP,Norwegian Krone,1.0,10.6189,2016-08-12
4,GBP,Polish Zloty,1.0,4.9372,2016-08-12
5,GBP,Russian Ruble,1.0,83.8059,2016-08-12
6,GBP,Saudi Riyal,1.0,4.8510,2016-08-12
7,GBP,Singapore Dollar,1.0,1.7391,2016-08-12
8,GBP,South African Rand,1.0,17.3885,2016-08-12
9,GBP,South Korean Won,1.0,1424.7579,2016-08-12
10,GBP,Swedish Krona,1.0,10.9143,2016-08-12
11,GBP,Swiss Franc,1.0,1.2591,2016-08-12
12,GBP,Taiwan Dollar,1.0,40.5939,2016-08-12
13,GBP,Thai Baht,1.0,44.9362,2016-08-12
14,GBP,Turkish Lira,1.0,3.8172,2016-08-12
15,GBP,US Dollar,1.0,1.2935,2016-08-12
16,USD,Australian Dollar,1.0,1.3682,2005-12-28
17,USD,Canadian Dollar,1.0,1.1627,2005-12-28
18,USD,Chinese Yuan,1.0,8.0715,2005-12-28
19,USD,Cyprus Pound,1.0,0.4811,2005-12-28
20,USD,Czech Koruna,1.0,24.2930,2005-12-28
21,USD,Danish Krone,1.0,6.2611,2005-12-28
22,USD,Estonian Kroon,1.0,13.1296,2005-12-28
23,USD,Euro,1.0,0.8391,2005-12-28
24,USD,Hong Kong Dollar,1.0,7.7529,2005-12-28
25,USD,Hungarian Forint,1.0,211.6137,2005-12-28
26,USD,Indian Rupee,1.0,45.0950,2005-12-28
27,USD,Israeli Shekel,1.0,4.5870,2005-12-28
28,USD,Japanese Yen,1.0,117.3800,2005-12-28
29,USD,Latvian Lats\r\nCurrency joined the Euro on 01...,1.0,0.5844,2005-12-28
...,...,...,...,...,...
289026,GBP,Hong Kong Dollar,1.0,10.1175,2017-05-18
289027,GBP,Hungarian Forint,1.0,362.0049,2017-05-18
289028,GBP,Indian Rupee,1.0,84.3180,2017-05-18
289029,GBP,Israeli Shekel,1.0,4.6778,2017-05-18
289030,GBP,Japanese Yen,1.0,144.3929,2017-05-18
289031,GBP,Malaysian ringgit,1.0,5.6253,2017-05-18
289032,GBP,New Zealand Dollar,1.0,1.8801,2017-05-18
289033,GBP,Norwegian Krone,1.0,10.9627,2017-05-18
289034,GBP,Polish Zloty,1.0,4.9245,2017-05-18
289035,GBP,Russian Ruble,1.0,74.7988,2017-05-18
289036,GBP,Saudi Riyal,1.0,4.8751,2017-05-18
289037,GBP,Singapore Dollar,1.0,1.8096,2017-05-18
289038,GBP,South African Rand,1.0,17.3862,2017-05-18
289039,GBP,South Korean Won,1.0,1465.1433,2017-05-18
289040,GBP,Swedish Krona,1.0,11.4016,2017-05-18
289041,GBP,Swiss Franc,1.0,1.2720,2017-05-18
289042,GBP,Taiwan Dollar,1.0,39.3356,2017-05-18
289043,GBP,Thai Baht,1.0,44.8336,2017-05-18
289044,GBP,Turkish Lira,1.0,4.6986,2017-05-18
289045,GBP,US Dollar,1.0,1.2999,2017-05-18
289046,GBP,Australian Dollar,1.0,1.6812,2016-08-12
289047,GBP,Canadian Dollar,1.0,1.6743,2016-08-12
289048,GBP,Chinese Yuan,1.0,8.5806,2016-08-12
289049,GBP,Czech Koruna,1.0,31.2729,2016-08-12
289050,GBP,Danish Krone,1.0,8.6099,2016-08-12
289051,GBP,Euro,1.0,1.1572,2016-08-12
289052,GBP,Hong Kong Dollar,1.0,10.0324,2016-08-12
289053,GBP,Hungarian Forint,1.0,358.8195,2016-08-12
289054,GBP,Indian Rupee,1.0,86.4597,2016-08-12
289055,GBP,Israeli Shekel,1.0,4.9219,2016-08-12